#banner {
height: 90vh;
background: linear-gradient(to right, hsla(0,2%,17%,0.856), rgba(44,42,42, 0.315)),url(VANNY12.jpg);
background-size: cover;
background-repeat: no-repeat;
}

.btn {
    padding: 20px 30px;
    font-weight: 900;
    border-radius: 60px;
    font-size: 20px;
    transition: all 0.4s ease;
}

.btn-brand {
    background-color: rgb(43, 119, 36);
    color: #fff;
    border: 3px solid #fff;
}


.btn-brand:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

section {
    padding: 100px 2px;
}
#about {
    background-color: rgba(44,42,42, 0.315);
}

#about h2 {
    font-size: 50px;
    font-weight: 900;
    color: red;
}